.product-card__button {
  @include text-preset(1.4rem, 700);
  align-items: center;
  background-color: $color-dark-cyan;
  border: 0;
  border-radius: 0.8rem;
  display: flex;
  gap: 0.8rem;
  height: 4.8rem;
  justify-content: center;
  width: 29.5rem;
  transition: background-color 0.2s;

  &:hover {
    background-color: $color-deep-teal;
    cursor: pointer;
  }

  &--text {
    color: $color-white;
  }

  @include respond-desktop {
    width: 23.6rem;
  }
}
