//breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-ipad: 1024px;
$breakpoint-ipad-pro: 1366px;

$color-dark-cyan: hsl(158, 36%, 37%);
$color-deep-teal: hsl(157.895, 42%, 18%);
$color-cream: hsl(30, 38%, 92%);
$color-very-dark-blue: hsl(212, 21%, 14%);
$color-dark-grayish-blue: hsl(228, 12%, 48%);
$color-white: hsl(0, 0%, 100%);

$font-size-paragraph: 1.4rem;
